.logo {
    text-transform: uppercase;
    font-size: var(--size-4);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 768px) {
    .logo {
        font-size: var(--size-7);
    }
}
